*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;  
  /* border: 1px solid #000; */
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
}

.function-container {
  display: flex;
  align-items: center;
  height: 80px;
  gap: 20px;
}

.function-container .score {
  padding: 0;
  margin: 0;
}

#PlayPause {
  background: none;
  border: none;
  outline: none;
}

#PlayPause i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

#PlayPause i:hover {
  background-color: #ddd;
}

.score {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

#game-container.transparent {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.8);
  z-index: 10;
}

.overlay h2 {
  color: red;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  position: relative;
  bottom: 50px;
}

.overlay p {
  font-size: 24px;
  margin-bottom: 20px;
}

.overlay button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.overlay button:hover {
  background-color: #aaa;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  aspect-ratio: 1/ 1;
  background-color: #A2D149;
  position: relative;
}

#board .row {
  display: flex;
  height: calc((100% / 15));
  width: 100%;
}

#board .cell {
  flex-grow: 1;
  flex-basis: 0;
}

#board .row:nth-child(odd) .cell:nth-child(odd),
#board .row:nth-child(even) .cell:nth-child(even) {
    background-color: #ABD652;
}

.snake {
  position: absolute;
  width: calc((100% / 15));
  aspect-ratio: 1/1;
  background-color: #44A3FF;
}

.snake.snake-head {
  background-color: #4473E7;
}

.food {
  position: absolute;
  width: calc((100% / 15));
  aspect-ratio: 1/1;
  background-color: #E7461C;
  border-radius: 50%;
}

.mobile-controls {
  display: none;
}

@media (max-width: 600px) {  
  .function-container button {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  #PlayPause i {
    color: black;
  }

  #PlayPause i:hover {
    background-color: transparent;
  }

  .function-container .score {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  #board {
    width: 80%;
    position: absolute;
    top: 5%;
  }

  .overlay h2 {
    font-size: 28px;
    bottom: 0;
  }

  #board .start {
    display: none;
  }

  .mobile-controls {
    position: absolute;
    width: 50%;
    aspect-ratio: 1/1;
    bottom: 10px;
    display: block;
  }

  .mobile-controls button {
    position: absolute;
    font-size: 28px;
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }

  .mobile-controls .up {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }
  .mobile-controls .down {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
  .mobile-controls .left {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .mobile-controls .right {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  .mobile-controls .start {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    background-color: #E7461CAA;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}